<a href="https://colab.research.google.com/github/csegis1/Datos/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data analysis (Brief example)
All individuals survived unless noted otherwise.
Entries on the spreadsheet are color-coded.

• Unprovoked Incidents = Tan

• Provoked Incidents = Orange

• Incidents Involving Watercrafts = Green

• Air / Sea Disasters = Yellow

• Questionable Incidents = Blue

Unprovoked vs. Provoked - GSAF defines a provoked incident as one in which the shark was speared, hooked, captured or in which a human drew "first blood". Although such incidents are of little interest to shark behaviorists, when the species of shark involved is known and pre-op photos of the wounds are available, the bite patterns are of value in determining species of shark involved in other cases when the species could not identified by the patient or witnesses. We know that a live human is rarely perceived as prey by a shark. Many incidents are motivated by curiosity, others may result when a shark perceives a human as a threat or competitor for a food source, and could be classed as "provoked" when examined from the shark's perspective.

Incidents involving watercraft – Incidents in which a boat was bitten or rammed by a shark are in green. However, in cases in which the shark was hooked, netted or gaffed, the entry is orange because they are classed as provoked incidents.

Questionable incidents - Incidents in which there are insufficient data to determine if the injury was caused by a shark or the person drowned and the body was later scavenged by sharks. In a few cases, despite media reports to the contrary, evidence indicated there was no shark involvement whatsoever. Such incidents are in blue.

![](https://www.sharkattackfile.net/images/sharks/SHKGRF-14.jpg)

https://www.sharkattackfile.net/incidentlog.htm

**Pandas**

En Computación y Ciencia de datos, pandas es una biblioteca de software escrita como extensión de Numpy para manipulación y análisis de datos para el lenguaje de programación Python. En particular, ofrece estructuras de datos y operaciones para manipular tablas numéricas y series temporales.

Las características de la biblioteca son:

* El tipo de datos son DataFrame para manipulación de datos con indexación integrada. Tiene herramientas para leer y escribir datos entre estructuras de dato en memoria y formatos de archivos variados
* Permite la alineación de dato y manejo integrado de datos fallantes, la reestructuración y segmentación de conjuntos de datos, la segmentación vertical basada en etiquetas, indexación elegante, y segmentación horizontal de grandes conjuntos de datos, la inserción y eliminación de columnas en estructuras de datos.
* Puedes realizar cadenas de operaciones, dividir, aplicar y combinar sobre conjuntos de datos, la mezcla y unión de datos.

Fuente: https://www.master-data-scientist.com/pandas-herramienta-data-science/

## Cheat sheet
![](https://intellipaat.com/mediaFiles/2018/12/Python-Pandas-Cheat-Sheet.png)

In [27]:
#se usa la palabra import para mandar a traer bibliotecas
import pandas

df=pandas.read_csv('GSAF5.csv',encoding='cp1252') #leemos el documento CSV y lo guardamos en un data frame
df.columns #nos ayuda a mostrar columnas

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [28]:
#el comando head, ejecutado despues del df muestra un resumen de los datos
df.head()

    Case Number       Date  Year  ... original order Unnamed: 22 Unnamed: 23
0  2016.09.18.c  18-Sep-16  2016  ...           5993         NaN         NaN
1  2016.09.18.b  18-Sep-16  2016  ...           5992         NaN         NaN
2  2016.09.18.a  18-Sep-16  2016  ...           5991         NaN         NaN
3    2016.09.17  17-Sep-16  2016  ...           5990         NaN         NaN
4    2016.09.15  16-Sep-16  2016  ...           5989         NaN         NaN

[5 rows x 24 columns]

In [ ]:
#Se crea una nueva lista de atributos, con la finalidad de descartar a los no utiles
nA=['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source']
print("El número de atributos es: ",len(nA))
print("Los atributos son: ")
print(nA)

El número de atributos es:  16
Los atributos son:
['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source']

# Código necesario
Para no ejecutar el código anterior celda por celda, este apartado ayuda a ejecturar todas esas lineas.

In [ ]:
import pandas #pandas es una biblioteca para anàlisis numerico
#df -> data frame
df=pandas.read_csv('GSAF5.csv',encoding='cp1252')
df.columns
#Redimencionar el data frame
nA=['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source']
dfN=df[nA] #data-frame New
dfN.head(5)

    Case Number       Date  Year  ...   Time   Species        Investigator or Source
0  2016.09.18.c  18-Sep-16  2016  ...  13h00        NaN  Orlando Sentinel, 9/19/2016
1  2016.09.18.b  18-Sep-16  2016  ...  11h00        NaN  Orlando Sentinel, 9/19/2016
2  2016.09.18.a  18-Sep-16  2016  ...  10h43        NaN  Orlando Sentinel, 9/19/2016
3    2016.09.17  17-Sep-16  2016  ...    NaN        NaN           The Age, 9/18/2016
4    2016.09.15  16-Sep-16  2016  ...    NaN  2 m shark           The Age, 9/16/2016

[5 rows x 16 columns]

In [ ]:
#el conmando info() proporciona informacion del dataframe
dfN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
dtypes: int64(1), object(15)
memory usage: 749.1+ KB

In [ ]:
#un comando útil para contar registros es len()
print("El numero de registros es: ", len(dfN['Sex ']))

El numero de registros es:  5992

In [ ]:
#EL comando isna() ayuda a identificar los valores nulos o Nan
#con la ayuda de sum() muestra un conteo total por atributo
dfN.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
dtype: int64

**pandas.DataFrame.duplicated**

*DataFrame.duplicated(subset=None, keep='first')*

Return boolean Series denoting duplicate rows.

Considering certain columns is optional.

Parameters
subsetcolumn label or sequence of labels, optional
Only consider certain columns for identifying duplicates, by default use all of the columns.

keep{‘first’, ‘last’, False}, default ‘first’
Determines which duplicates (if any) to mark.

first : Mark duplicates as True except for the first occurrence.

last : Mark duplicates as True except for the last occurrence.

False : Mark all duplicates as True.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [ ]:
#duplicated() encuentra valores duplicados de un atributo
vr=dfN['Case Number'].duplicated().sum()
print("El numero de datos duplicados en Case Number es: ",vr)

El numero de datos duplicados en Case Number es:  16

In [ ]:
#Encontrar los duplicados y con ayuda de tolist convertimos una serie en lista
duplicados=dfN[dfN['Case Number'].duplicated(keep=False)]['Case Number'].tolist()
print(duplicados)
print("Total: ",len(duplicados))

['2014.08.02', '2014.08.02', '2013.10.05', '2013.10.05', '2012.09.02.b', '2012.09.02.b', '2009.12.18', '2009.12.18', '2006.09.02', '2006.09.02', '2005.04.06', '2005.04.06', '1990.05.10', '1990.05.10', '1983.06.15', '1983.06.15', '1980.07.00', '1980.07.00', '1966.12.26', '1966.12.26', '1962.06.11.b', '1962.06.11.b', '1923.00.00.a', '1923.00.00.a', '1920.00.00.b', '1920.00.00.b', '1915.07.06.a.R', '1915.07.06.a.R', '1913.08.27.R', '1913.08.27.R', '1907.10.16.R', '1907.10.16.R']
Total:  32

In [ ]:
# dfnF data frame nueva Filtrada
# con ayuda de drop_duplicates se elimnan los renglones repetidos
dfnF=dfN.drop_duplicates(subset='Case Number')
dfnF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5976 entries, 0 to 5991
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5976 non-null   object
 1   Date                    5976 non-null   object
 2   Year                    5976 non-null   int64
 3   Type                    5976 non-null   object
 4   Country                 5933 non-null   object
 5   Area                    5575 non-null   object
 6   Location                5480 non-null   object
 7   Activity                5451 non-null   object
 8   Name                    5777 non-null   object
 9   Sex                     5410 non-null   object
 10  Age                     3305 non-null   object
 11  Injury                  5949 non-null   object
 12  Fatal (Y/N)             5957 non-null   object
 13  Time                    2775 non-null   object
 14  Species                 3049 non-null   object
 15  Investigator or Source  5961 non-null   object
dtypes: int64(1), object(15)
memory usage: 793.7+ KB

In [ ]:
#Los datos nan pueden provocar problemas, por lo que se sugiere quitarlos
#con el comando dropna() se realiza
#data frame sin NaN
dfC=dfnF.dropna()
dfC

NameError: ignored

In [ ]:
#para contar los valores usarmos el comando value_counts()
dfC['Activity'].value_counts()

Surfing                                                     401
Swimming                                                    197
Spearfishing                                                100
Wading                                                       49
Fishing                                                      41
                                                           ...
Playing / standing                                            1
Swimming on sandbar adjacent to channel                       1
Swimming underwater from crayfish cage to a fishing bait      1
Surfing or body surfing                                       1
Swimming (using a float)                                      1
Name: Activity, Length: 336, dtype: int64

In [ ]:
dfC['Country'].value_counts()

USA                               685
AUSTRALIA                         294
SOUTH AFRICA                      216
BAHAMAS                            25
NEW ZEALAND                        20
REUNION                            15
BRAZIL                             14
MEXICO                             13
PAPUA NEW GUINEA                   12
NEW CALEDONIA                      10
EGYPT                               9
ITALY                               7
FIJI                                7
MOZAMBIQUE                          7
FRENCH POLYNESIA                    6
IRAQ                                5
SPAIN                               4
CROATIA                             3
TAIWAN                              3
TONGA                               3
VIETNAM                             3
JAPAN                               3
MARSHALL ISLANDS                    2
BERMUDA                             2
CUBA                                2
JAMAICA                             2
PALAU                               2
HONG KONG                           2
NEW BRITAIN                         2
GREECE                              2
PANAMA                              2
VANUATU                             2
ECUADOR                             2
AMERICAN SAMOA                      2
INDONESIA                           2
VENEZUELA                           2
SOLOMON ISLANDS                     1
TURKS & CAICOS                      1
INDIA                               1
GRAND CAYMAN                        1
ST. MAARTIN                         1
ENGLAND                             1
FEDERATED STATES OF MICRONESIA      1
PACIFIC OCEAN                       1
SEYCHELLES                          1
UNITED KINGDOM                      1
BRITISH WEST INDIES                 1
GUAM                                1
THAILAND                            1
NORTH PACIFIC OCEAN                 1
SCOTLAND                            1
OKINAWA                             1
ARGENTINA                           1
SENEGAL                             1
ISRAEL                              1
MICRONESIA                          1
SOUTH KOREA                         1
RUSSIA                              1
EL SALVADOR                         1
COLUMBIA                            1
Name: Country, dtype: int64

In [ ]:
dfC['Sex '].value_counts()

NameError: ignored